/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */
.top-wrapper {
  height: 630px;
  background-image: url(https://prog-8.com/images/html/advanced/top.png);
  background-size: cover;
  color: white;
  text-align: center;
  border-radius: 5px;
 
}

.container {
   opacity: .9;
}

.container h1 {
  padding: 183px 0 0 0;
  font-size: 45px;
  opacity: .7;
  letter-spacing: 3.7px;
}


.btn-shinki {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height:40px;
  background-color: #239b76;
  margin: 25px auto 15px ;
  text-align: center;
  border-radius: 5px;

}

.btn-wrapper p {
  padding-bottom: 15px;
}

.btn-facebook {
  display: inline-block;
  align-items: center;
  width: 170px;
  height: 28px;
  background-color: #3b5998;
  text-align: center;
  justify-content: center;
  padding:5px;
  margin-right: 10px;
  border-radius: 5px;
}

.btn-twitter {
  display: inline-block;
  align-items: center;
  width: 150px;
  height: 28px;
  background-color: #55acee;
  text-align: center;
  justify-content: center;
  padding:5px;
  border-radius: 5px;
}

